{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <h1>Hacked Messages</h1>
  {% if victim %}
  <p>You are currently hacking {{ victim.username }}</p>
  {% if hacker.successful == False %}
  <div class="row">
    <div class="col-md-4">
      <form method="POST" action="">
        {{ form.decrypt_password.label }}: {{ form.decrypt_password(class_="form-control") }}
        {{ form.submit(class_="btn btn-info btn-ghost", value="Attempt to Decrypt") }}
      </form>
    </div>
  </div>
    {% endif %}
  {% else %}
  <p>You are not hacking anyone yet.</p>
  {% endif %}
 
    {% for message in messages %}
    <table class="table table-hover">
      <tr>
          <td width="70px">
              <a href="{{ url_for('main.user', username=message.sender.username) }}">
                  <img src="{{ message.sender.avatar(70) }}" />
              </a>
          </td>
          <td>
              {% set user_link %}
                  <span class="user_popup">
                      <a href="{{ url_for('main.user', username=message.sender.username) }}">
                          {{ message.sender.username }}
                      </a>
                  </span>
              {% endset %}
              From: {{message.sender.username}} at {{message.timestamp}}
              <br><br>
              {% if hacker.successful == True %}
              <span id="message{{ message.id }}decrypted">Plaintext: {{ message.body }}</span>
              {% else %}
              <span id="message{{ message.id }}encrypted">Ciphertext: {{ message.encrypted }}</span>
              {% endif %}
              {% if message.recipient_id == current_user.id %}
              <br><br><span id="message{{ message.id }}key">Key: {{ message.key }}</span>
              {% endif %}
          </td>
      </tr>
  </table>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ 'Newer messages' }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ 'Older messages' }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}