{% extends "base.html" %}
{% block app_content %}
<h1>Hello, {{ current_user.username }}! Welcome to Pass a Note, Peek a Note</h1>
<p>The objective of this service is to teach users how creating simple passwords based on their interests and other basic information can make them vulnerable to password cracking.</p>
<p>You will be able to send a message to another user, which will be encrypted using AES, and the private key for decryption will only be sent to them. However, another user unknown to you will also receive the encrypted message. Their job is to read your profile and figure out your password. If they succeed, your private key will be shown to them and they will be able to decrypt your message.</p>
<p>To start, please <a href="{{ url_for('main.user', username=current_user.username) }}">edit your profile</a>.
<p>Next, send a message to <a href="{{ url_for('main.users') }}">another user</a>.</p>
<p>Finally, choose a user to hack.</p>
{% endblock %}