{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ 'Users' }}</h1>
    <p>Click a user to open their profile and send a message.</p>
    {% for user in users %}
    {% if user != current_user %}
    <table class="table table-hover">
      <tr>
          <td width="70px">
              <a href="{{ url_for('main.user', username=user.username) }}">
                  <img src="{{ user.avatar(70) }}" />
              </a>
          </td>
          <td>
              {% set user_link %}
                  <span class="user_popup">
                      <a href="{{ url_for('main.user', username=user.username) }}">
                          {{ user.username }}
                      </a>
                  </span>
              {% endset %}
              User: {{ user.username }}
              <!--br><br><br>
              <input type="checkbox" id="User{{ user.id }}Hack">
              <label for="User{{ user.id }}Hack">I want to hack {{ user.username }}</label-->
          </td>
      </tr>
  </table>
  {% endif %}
  {% endfor %}
  <br><p>Enter username of user you wish to hack.</p>
  <div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}