{% extends "base.html" %}

{% block app_content %}
<table class="table table-hover">
  <tr>
      <td width="256px"><img src="{{ user.avatar(256) }}"></td>
      <td>
        <h1>{{ user.username }}</h1>
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        {% if user.last_seen %}
                <p>Last seen on: {{ user.last_seen }}</p>
        {% endif %}
        {% if user == current_user %}
        <p><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>
        {% endif %}
        {% if user != current_user %}
        <p>
          <a href="{{ url_for('main.send_message',recipient=user.username) }}">
            {{ 'Send private message' }}
          </a>
        </p>
        {% endif %}
        {% if user == current_user %}
        {% if user.encrypt_password %}
        <p>You have an encryption password. Hope it doesn't get hacked!</p>
        {% else %}
        <p>You don't have an encryption password yet!</p> 
        <form action="" method="POST">
        <input class="btn btn-info btn-ghost" type="submit" name="generatePass" value="Generate a Password" />
        </form>
        {% endif %}
        {% endif %}
      </td>
  </tr>
</table>

{% endblock %}